*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(18, 15, 15);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(13, 13, 13, 0.952);
}
.container{
    position: relative;
}
.Clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(55, 251, 80, 250);
    border: 2px solid rgba(20, 92, 33, 0.25);
    box-shadow: 0px 0px 30px rgba(236, 239, 234, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Clock span{
    position:absolute;
    transform: rotate(calc(30deg * var(--i))) ;
    inset: 12px;
    text-align: center;
}
.Clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.Clock::before{
    content:'' ;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #f0f0ef;
    z-index: 2;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
}
.h1{
    background-color: crimson;
    text-align: center;
    display: grid;
    justify-items: center;
}
.text{
    justify-content:right;
    font-size: 23px;
    background-color: rgb(255, 0, 255);
}
